@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Manufacturing+Consent&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.name {
  text-transform: lowercase;
  text-transform: uppercase;
  text-transform: capitalize;

  font-style: italic;
}

.para {
  font-family: "Times New Roman", Times, serif;
  font-family: "Lobster", sans-serif;
}

.list_items {
  list-style: lower-roman;
}

.box {
  height: 200px;
  width: 200px;
  border: 20px solid greenyellow;
  border: 20px ridge green;
  border: 20px double green;
  border: 20px inset green;
  border: 20px outset green;
  border: 20px dotted green;
  border: 20px dashed crimson;

  border: 20px solid greenyellow;

  border-left-color: green;
  border-right-color: yellow;
  border-bottom-color: brown;
  border-top-color: crimson;

  border-radius: 20px;
  border-radius: 100px;
  border-radius: 50%;

  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;

  border-top-style: dashed;
  border-left-style: double;
  border-right-style: dotted;
  border-bottom-style: ridge;
}
