.adhrit {
  background-color: #780000;
  height: 200px;
  width: 200px;
}

#aaryan {
  background-color: rebeccapurple;
}

.square {
  color: #283618;
  font-size: 140px;
  font-weight: 100;
  /*100 200 300 400 500 600 700 800 900 1000*/
}
